################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Opercat 2.0/.vs/Opercat 2.0
/src/Opercat 2.0/Opercat.Logic/obj
